{% extends "finance_app/base.html" %}

{% block content %}
<h3>Income Charts</h3>
<div>
    <canvas id="myChart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>

    {% comment %} const chartLabels = {{labels}};
    const chartData = {{data}}; {% endcomment %}


    const ctx = document.getElementById('myChart');
  
    ctx = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ["Onsted", "Adrian", "Brooklyn", "Jackson", "Tecumseh"],
        datasets: [{
          label: 'Population',
          data: [100, 400, 250, 700, 300],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });


  </script>


{% endblock content %}