{% extends "finance_app/base.html"%}
{% block content %}
    <h1 class="display-3 center">Income</h1>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2 center" style="color: #0a4a91;" href="#">Total Received</a>
            </div>
            <h3><a class="article-title center" href="{% url 'income_statistics_page' %}">${{total|floatformat:-2}}</a></h3>
        </div>
    </article> 
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2 center" style="color: #0a4a91;" href="#">Net</a>
            </div>
            {% if net > 0 %}
                <h3><a class="article-title center" href="#" style="color: green;">${{net|floatformat:-2}}</a></h3>
            {% elif net < 0 %}
                <h3><a class="article-title center" href="#" style="color: red;">${{net|floatformat:-2}}</a></h3>
            {% else %}
                <h3><a class="article-title center" href="#" style="color: black;">${{net|floatformat:-2}}</a></h3>
            {% endif %}
        </div>
    </article> 
    <br>
    <br>
    {% for income in incomes %}
        {% if income.owner == user %}
            <article class="media content-section" aria-label="Container for Income">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" style="color: #0a4a91;" href="#">{{income.owner}}</a>
                        <small class="text-muted">{{income.date_received}}</small>
                    </div>
                    <h2><a class="article-title" href="#">{{income.income_source}}</a></h2>
                    <p class="article-content"><strong>{{income.income_description}}</strong> with a total of ${{income.amount}}</p>
                </div>
            </article> 
        {% endif %}
    {% endfor %}
{% endblock content %}