{% extends "finance_app/base.html"%}
{% block content%}
    <center><h1 class="display-3">Income</h1></center>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <center><a class="mr-2" href="#">Total Received</a></center>
            </div>
            <center><h3><a class="article-title" href="#">${{total|floatformat:-2}}</a></h3></center>
        <div>
    </article> 
    <br>
    {% for income in incomes %}
        {% if income.owner == user %}
            <article class="media content-section" aria-label="Container for Income">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{income.owner}}</a>
                        <small class="text-muted">{{income.date_received}}</small>
                    </div>
                    <h2><a class="article-title" href="#">{{income.income_source}}</a></h2>
                    <p class="article-content"><strong>{{income.income_description}}</strong> with a total of ${{income.amount}}</p>
                <div>
            </article> 
        {% endif %}
    {% endfor %}
{% endblock content %}