{% extends "finance_app/base.html"%}
{% block content %}
<h1 class="display-3">Income Statistics</h1>
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">Total Received</a>
        </div>
        <h3><a class="article-title" href="#">${{total_received|floatformat:-2}}</a></h3>
        <p class="article-content">Over a total of {{num_incomes}} incomes</p>
    <div>
</article> 
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">Mean Income</a>
        </div>
        <h3><a class="article-title" href="#">${{mean_received|floatformat:-2}}</a></h3>
    <div>
</article> 
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">Median Income</a>
        </div>
        <h3><a class="article-title" href="#">${{median|floatformat:-2}}</a></h3>
    <div>
</article>
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">Variance of Income</a>
        </div>
        <h3><a class="article-title" href="#">${{variance|floatformat:-2}}</a></h3>
    <div>
</article>
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">Standard Deviation of Income</a>
        </div>
        <h3><a class="article-title" href="#">${{standard_deviation|floatformat:-2}}</a></h3>
    <div>
</article>
{% endblock content %}
