{% extends "finance_app/base.html"%}
{% block content%}
    <center><h1 class="display-3">Purchases</h1></center>
    <br>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <center><a class="mr-2" href="#">Total Spent</a></center>
            </div>
            <center><h3><a class="article-title" href="#" >${{total|floatformat:-2}}</a></h3></center>
        <div>
    </article>
    <br>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <center><a class="mr-2" href="#">Net</a></center>
            </div>
            {% if net > 0 %}
                <center><h3><a class="article-title" href="#" style="color: green;">${{net|floatformat:-2}}</a></h3></center>
            {% else %}
                <center><h3><a class="article-title" href="#" style="color: red;">${{net|floatformat:-2}}</a></h3></center>
            {% endif %}
        <div>
        <div>
    </article> 
    <br>
    {% for purchase in purchases %}
       {% if purchase.owner == user %}
        <article class="media content-section" aria-label="Container for Purchase">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{purchase.owner}}</a>
                    <small class="text-muted">{{purchase.date_purchased}}</small>
                </div>
                <h2><a class="article-title" href="#">{{purchase.purchase_name}}</a></h2>
                <p class="article-content"><strong>{{purchase.purchase_description}}</strong> with a total of ${{purchase.amount}}</p>
            <div>
        </article> 
       {% endif %}
    {% endfor %}
    
{% endblock content%}