{% extends "finance_app/base.html" %}

{% block content %}
<h3>Purchase Charts</h3>
<div>
    <canvas id="myChart" aria-label="Purchase Bar Chart"></canvas>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: {{labels|safe}},
        datasets: [{
          label: 'Money Spent',
          data: {{data|safe}},
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>


{% endblock content %}